.reveal section img {
  border: none;
  max-height: 98%;
  max-width: 98%;
}

.reveal img.smallTop {
  width: 10em;
  vertical-align: text-top;
  margin-top: 0px;
}

.reveal section img.small {
  max-height: 60%;
  max-width: 18%;
  background: none;
  box-shadow: none;
}

.reveal .slides section .fragment.subst, .reveal .slides section .fragment.subst.visible.hidden {
  display: none;
}

.reveal .slides section .fragment.subst.visible {
  display: inherit;
}

.reveal em {
  font-style: normal;
  background-color: #ff0;
}

.reveal .hidden {
  display: none;
}

.reveal p.author {
  text-align: right;
  margin-right: 4em;
}
.reveal ul.tiny li {
  font-size: 0.46em;
  margin-top: -1.1em;
}
.reveal ul.tiny ul ul li {
  font-size: 100%;
}

.reveal pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.reveal pre.w50 {
  width: 50%;
}
.reveal pre.w80 {
  width: 80%;
}
.reveal pre.w100 {
  width: 100%;
}
